.Rproj.user
.Rhistory
.RData

# Misc. project files
data-raw/variables_*_list.Rda
data-raw/variables_*.json
data-raw/variables_*.Rda
data-raw/coded_data.Rda
# Temporary system files
*.swp
.DS_Store
inst/doc
